
deeplearning/【吴恩达课后编程作业】第二周 - PA1 - 具有神经网络思维的Logistic回归 (1).zip
*.exe
deeplearning/week3/Week 3 - PA 2 - Planar data classification with one hidden layer.zip
deeplearning/week3/TESTPlanar data classification with one hidden layer.ipynb
deeplearning/week3/.ipynb_checkpoints/TESTPlanar data classification with one hidden layer-checkpoint.ipynb
deeplearning/week3/.ipynb_checkpoints/Logistic Regression with a Neural Network mindset-checkpoint.ipynb
*.ipynb
